{#
  	Skabelon for den julianske kalender og kalendere afledt herfra

  	Forudsætter
  	  - Året har 12 måneder.
  	  - En måned har op til 31 dage.

  	Forventer et object 'bauer' som implementerer iKalenderView med functionerne:
  	  - getKalenderNavn()
  		- getAar()
  		- getMonths() : Array med månedernes navne.
#}



{% extends 'base.html.twig' %}

{% block title %}Bauers Kalender{% endblock %}

{% block body %}


	<!-- h1 class="h1 text-center">
    Danmark - {{ bauer.getYear() }}
  </h1  -->

  <!-- p>
    Påsken falder på: {{ bauer.testDay()}} / {{ bauer.testMonth()}} - Påske Jtal: {{ bauer.getPjtal() }} - {{ bauer.jtaltest() }}
  </p -->


  <div class='container-flex d-flex justify-content-center'>
		<div class="table-responsive-xl">
    	<table class="table table-fixed table-bordered table-light table-sm" >
    	  <caption class='' style="caption-side:top">
					<div class="row">
    				<div class= 'col-sm'><h3>{{ bauer.getCalendarName() }}</h3></div>
    				<div class= 'col-sm'><h1 class='text-center'>{{ bauer.getYear() }}</h1></div>
    				<div class= 'col-sm'></div>
  				</div>
    	  </caption>
  			{% for nn in [0, 6] %}
    			<thead class="table-success">
    				<tr>
      				{% for i in (bauer.getMonths())|slice(nn,6) %}
        				<th colspan='3' scope='col' class='text-center'>  {{ i|trans()|capitalize }}  </th>
      				{% endfor %}
    				</tr>
  				</thead>
					<body>
        		{% for d in 1..31 %}
          		<tr class='small'>
            		{% for mm in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]|slice(nn,6) %}

            					{# Herfra er der 4 muligheder
            	   				- Almindelig hverdag
            	   				- Lørdag
            	   				- Søn eller helligdag
            	   				- Ugyldig dag (f.eks 31. Juli) #}

									{% set info= bauer.getDateInfo(d, mm, bauer.getYear()) %}
              		{# % if bauer.setDato(d, mm) % #}
              		{% if info['class'] > 0 %}
                		<th scope= "col" {% if info['class'] > 1 %} class="alert-secondary" {% endif %}>{{ info['ugedag']|trans()|slice(0,2)|capitalize }}  </th>
                		<td scope= "col" class="text-right {% if info['class'] == 3 %} alert-secondary {% endif %}">{{ d }}</td>
                		<td scope= "col" style='width: 160px' class="text-truncate {% if info['class'] == 3 %} alert-secondary {% endif %}" data-toggle="tooltip" data-placement="auto" data-html="true" title="{{ info['tooltip']|trans }}"> {{ info['description']|trans }} </td>

              		{% else %}
                		<td colspan= 3 />
              		{% endif %}
          			{% endfor %}
        			</tr>
      			{% endfor %}
    			</tbody>
  			{% endfor %}
  		</table>
  	</div>
	</div>


{% endblock %}
