{% extends 'base.html.twig' %}

{% block title %}{{ product }}{% endblock %}

{% block body %}


<div class="d-flex justify-content-center">
<div class="card">
  <div class="card-header text-center">
    <h1>{{ product }}</h1>
  </div>
  <div class="card-body">
    <h4>{{ 'bauer.description' | trans }}</h4>
  </div>
  <div class="card-body">
    <h5 class="card-subtitle">{{'bauer.tilgængelige' | trans}}:</h5>
    <nav class="nav flex-column">
      <a class="nav-link active" aria-current="page" href="{{ url('calendar') }}">{{'bauer.dansk' | trans}}</a>
      <a class="nav-link disabled" href="#">{{'bauer.norsk' | trans}} - <span class="badge text-bg-info">{{'bauer.kommer-snart' | trans}}</span></a>
      <a class="nav-link disabled" href="#">{{'bauer.svensk' | trans}} - <span class="badge text-bg-info">{{'bauer.kommer-snart' | trans}}</span></a>
      <a class="nav-link disabled" href="#">{{'bauer.engelsk' | trans}} - <span class="badge text-bg-info">{{'bauer.kommer-snart' | trans}}</span></a>
      <a class="nav-link disabled" href="#">{{'bauer.romersk-katolsk' | trans}} - <span class="badge text-bg-info">{{'bauer.kommer-snart' | trans}}</span></a>
      <a class="nav-link disabled" href="#">{{'bauer.juliansk' | trans}} - <span class="badge text-bg-info">{{'bauer.kommer-snart' | trans}}</span></a>
      <a class="nav-link disabled" href="#">{{'bauer.gregoriansk' | trans}} - <span class="badge text-bg-info">{{'bauer.kommer-snart' | trans}}</span></a>
    </nav>
  </div>
    <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>
</div>
{% endblock %}
