<!doctype html>
<html lang="da">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bauers Kalender for årene 600 til 3199 gældende for Danmark og Norge">
    <meta name="keywords" content="Bauers Kalender, Bauers Calendar">
    <meta name="author" content="Michael Lindhardt Rasmussen">

    <meta name="google-site-verification" content="xHLmgP5L_DvNjXQsmjCphySJEljc62J2Gt9qdse7sBc" />


    <title>{% block title %}Bauers Kalender{% endblock %}</title>

    {% block stylesheets %}

			<!-- Vi benytter os af Bootstrap -->

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% endblock %}

  </head>
  <body
  	style='padding-top: 25px;'
  	>

      <!-- Programmets Hovedmenu -->

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    	<button class="navbar-toggler" type="button" data-toggle="collapse"
        	data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      	<span class="navbar-toggler-icon"></span>
    	</button>

   		<!-- Selve menu strukturen -->

    	<div class="collapse navbar-collapse" id="navbarNav">
    		<a class="navbar-brand" href="https://github.com/filicis">Filicis</a>

      	<div class="navbar-nav mr-auto">
          <!-- a class="nav-item nav-link" href="/about">Hjem<span class="sr-only">(current)</span></a -->
          <div class= 'nav-item dropdown'>
          	<a class="nav-item nav-link dropdown-toggle disabled" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kalender</a>
          	<div class="dropdown-menu" aria-labelledby="navbarDropdown01">
            	<a class="dropdown-item" href="#">Juliansk</a>
            	<a class="dropdown-item" href="#">Gregoriansk</a>
            	<a class="dropdown-item" href="#">Dansk / Norsk</a>
            	<a class="dropdown-item" href="#">Svensk</a>
            	<a class="dropdown-item" href="#">Italiensk</a>
          	</div>
          </div>
          <div class= 'nav-item dropdown'>
          	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sprog</a>
          	<div class="dropdown-menu" aria-labelledby="navbarDropdown02">
            	<a class="dropdown-item" href="/sprog/dansk">Dansk</a>
            	<a class="dropdown-item disabled" href="#">Svensk</a>
            	<a class="dropdown-item disabled" href="#">Norsk</a>
            	<a class="dropdown-item disabled" href="#">Engelsk</a>
            	<a class="dropdown-item" href="/sprog/latin">Latin</a>
            	<div class="dropdown-divider"></div>
          	</div>
          </div>
          <div class= 'nav-item dropdown'>
          	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown03" role="button"	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hjælp</a>
          	<div class="dropdown-menu" aria-labelledby="navbarDropdown03">
            	<a class="dropdown-item" href="#">Action</a>
            	<a class="dropdown-item" href="#">Baggrunds materiale</a>
            	<div class="dropdown-divider"></div>
            	<a class="dropdown-item" data-toggle='modal' data-target="#aboutModal" href="#">Om..</a>
          	</div>
          </div>
      	</div>
    	</div>

    	{% if our_form is defined %}


      {{ form_start(our_form, {'attr': {'class': 'form-inline  my-2 my-lg-0'} }) }}
{#
    		<div class="custom-control custom-switch px-3" >
      		{{ form_widget(our_form.latin, {'type': 'checkbox', 'attr': {'class': 'custom-control-input', type: 'checkbox', empty_data: 'false'  }}) }}
      		<label class="custom-control-label" for="form_latin">Latin</label>
    		</div>
#}
    		{{ form_widget(our_form.year, {'attr': {'class': 'form-control mr-sm-2', 'placeholder': 'Årstal', 'type': 'number', 'aria-label': 'Search'} }) }}
        {{ form_widget(our_form.send, {'label': 'Vælg', 'attr': {'class': 'btn btn-outline-primary my-2 my-sm-0'} })}}
   			{{ form_rest(our_form) }}
      {{ form_end(our_form )}}
      {% endif %}
    </div>
  </nav>

  {% include 'about.html.twig' %}




    {% block body %}{% endblock %}



  {% block javascripts %}

			<!-- Bootstrap relaterede scripts -->

			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
					integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
					integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
					integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Aktiverer Tooltip -->
  <script> $(document).ready(function() { $("body").tooltip({ selector: '[data-toggle=tooltip]' }); }); </script >


  {% endblock %}

</body>
</ihtml>
